@font-face {
  font-family: 'adaicons';
  src:  url('fonts/adaicons.eot?lybnvy');
  src:  url('fonts/adaicons.eot?lybnvy#iefix') format('embedded-opentype'),
    url('fonts/adaicons.ttf?lybnvy') format('truetype'),
    url('fonts/adaicons.woff?lybnvy') format('woff'),
    url('fonts/adaicons.svg?lybnvy#adaicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'adaicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-icon:before {
  content: "\e93b";
}
.divide-icon:before {
  content: "\e913";
}
.arrow-left-icon:before {
  content: "\e938";
}
.arrow-down-icon:before {
  content: "\e939";
}
.arrow-up-icon:before {
  content: "\e93a";
}
.history-icon:before {
  content: "\e92e";
}
.chevron-down-icon:before {
  content: "\e92f";
}
.chevron-left-icon:before {
  content: "\e930";
}
.chevron-right-icon:before {
  content: "\e931";
}
.chevron-up-icon:before {
  content: "\e932";
}
.i-icon:before {
  content: "\e933";
}
.triangle-down-icon:before {
  content: "\e934";
}
.triangle-left-icon:before {
  content: "\e935";
}
.triangle-right-icon:before {
  content: "\e936";
}
.triangle-up-icon:before {
  content: "\e937";
}
.csv-icon:before {
  content: "\e92d";
}
.arrow-right-icon:before {
  content: "\e900";
}
.bar-chart-icon:before {
  content: "\e901";
}
.bar-chart-filled-icon:before {
  content: "\e902";
}
.bin-icon:before {
  content: "\e903";
}
.bookmark-icon:before {
  content: "\e904";
}
.bookmark-filled-icon:before {
  content: "\e905";
}
.cog-icon:before {
  content: "\e906";
}
.cog-filled-icon:before {
  content: "\e907";
}
.cog-smooth-icon:before {
  content: "\e908";
}
.cog-smooth-filled-icon:before {
  content: "\e909";
}
.cog-sparkle-icon:before {
  content: "\e90a";
}
.cog-sparkle-filled-icon:before {
  content: "\e90b";
}
.copy-icon:before {
  content: "\e90c";
}
.copy-filled-icon:before {
  content: "\e90d";
}
.filter-icon:before {
  content: "\e90e";
}
.filter-filled-icon:before {
  content: "\e90f";
}
.grouped-bar-chart-icon:before {
  content: "\e910";
}
.grouped-bar-chart-filled-icon:before {
  content: "\e911";
}
.help-icon:before {
  content: "\e912";
}
.line-chart-icon:before {
  content: "\e914";
}
.mic-icon:before {
  content: "\e915";
}
.mic-filled-icon:before {
  content: "\e916";
}
.new-conversation-icon:before {
  content: "\e917";
}
.number-icon:before {
  content: "\e918";
}
.percent-icon:before {
  content: "\e919";
}
.pie-chart-icon:before {
  content: "\e91a";
}
.pie-chart-filled-icon:before {
  content: "\e91b";
}
.plus-icon:before {
  content: "\e91c";
}
.profile-icon:before {
  content: "\e91d";
}
.profile-filled-icon:before {
  content: "\e91e";
}
.share-icon:before {
  content: "\e91f";
}
.sparkle-icon:before {
  content: "\e920";
}
.sparkle-filled-icon:before {
  content: "\e921";
}
.speech-sparkle-icon:before {
  content: "\e922";
}
.speech-sparkle-filled-icon:before {
  content: "\e923";
}
.stack-icon:before {
  content: "\e924";
}
.stack-filled-icon:before {
  content: "\e925";
}
.table-icon:before {
  content: "\e926";
}
.thumb-down-icon:before {
  content: "\e927";
}
.thumb-down-filled-icon:before {
  content: "\e928";
}
.thump-up-icon:before {
  content: "\e929";
}
.thump-up-filled-icon:before {
  content: "\e92a";
}
.tick-icon:before {
  content: "\e92b";
}
.x-icon:before {
  content: "\e92c";
}
